<!DOCTYPE html>
<html>
<head>
    block title
    <meta charset="utf-8" />

    <link type="text/css" rel="stylesheet" href="/assets/navbar.css" />
    <script type="text/javascript" src="/assets/tooltip.js" defer></script>

    <link type="text/css" rel="stylesheet" href="/assets/list.css" />

    //<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    //<script type="text/javascript" src="/assets/multi.js" defer></script>

    //<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    //<script type="text/javascript" src="/js/bootstrap.min.js"></script>

    //<script type="text/javascript" src="/jquery/jquery.min.js"></script>
    
    //<link type="text/css" href="bootstrap-switch-button/css/bootstrap-switch-button.css" rel="stylesheet">
    //<script type="text/javascript" src="bootstrap-switch-button/dist/bootstrap-switch-button.min.js"></script>

    //<script type="text/javascript" src="/assets/index.js"></script>
    
    //link(rel='stylesheet', href='assets/home.css')

    link(rel='stylesheet', href="/css/bootstrap.min.css")
    script( src="/js/bootstrap.min.js")
    link(rel='stylesheet', href="bootstrap-icons/font/bootstrap-icons.css")

    //script(src='/assets/home.js')
    link(rel='stylesheet', href='assets/home.css')
    //link(rel='stylesheet', href='assets/cards.css')
    
</head>
<body>
    include navbar.pug
    block content
</body>
<html>

